-#  Copyright (c) 2012-2021, German Contingent for the Worldscoutjamboree 2023. This file is part of
-#  hitobito_wsjrdp_2023 and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_wsjrdp_2023.

%article.col-lg
  %article.span5
    = render 'contact_data', person: entry, only_public: cannot?(:show_details, entry)
    - if entry.additional_information?
      %h2= Person.human_attribute_name(:additional_information)
      = auto_link(simple_format(entry.additional_information))

    - if entry.motivation?
      %h2= Person.human_attribute_name(:motivation)
      = auto_link(simple_format(entry.motivation))

    - if @person.role_wish == "Unit Leitung" && @person.unit_keys.present?
      %h3= "Durch Unit Tags zugeordnete Teilnehmer*innen"
      = participant_list(@person)
      %br
    - if @person.role_wish == "Teilnehmende*r" && @person.unit_keys.present?
      %h3= "Wunsch Unit Leiter*in"
      = find_unit_leader_name(@person)


  %aside.span4.offset1
    - if can?(:show_details, entry)
      %div
        = render_attrs(entry, :birthday, :gender)

        = render_extensions :details, locals: { show_full: can?(:show_full, entry) }

        = render_attrs(entry, :created_info, :updated_info)
    

    = render 'people_relations'

    = render_attrs(entry, :status,
                          :role_wish,
                          :sepa_status,
                          :korea_id)
    = render_attrs(entry, :passport_nationality,
                          :passport_number,
                          :passport_germany,
                          :passport_valid)
    = render_attrs(entry, :bus_travel,
                          :extra_luggage,
                          :air_travel,
                          :rail_and_fly)
    = render_attrs(entry, :languages_spoken,
                          :shirt_size,
                          :uniform_size,
                          :can_swim)
    = render_attrs(entry, :jamb_first_event, 
                          :jamb_second_event, 
                          :jamb_third_event, 
                          :jamb_fourth_event, 
                          :jamb_precamp_event)
    = render_attrs(entry, :passport_approved)
    = render_extensions :show_left

    
%article.col-lg
