-#  Copyright (c) 2012-2021, German Contingent for the Worldscoutjamboree 2023. This file is part of
-#  hitobito_wsjrdp_2023 and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_wsjrdp_2023.

= field_set_tag do
  -# = f.labeled_input_field :status
  -if (@person.status == 'registriert')
    = f.labeled_collection_select(:role_wish, Settings.person.roles, :to_s, :to_s, {}, class: 'span2') 
    = f.labeled_input_fields :first_name, :last_name, :birthday
    = f.labeled(:gender) do
      - (Person::GENDERS + ['']).each do |key|
        = f.inline_radio_button(:gender, key, entry.gender_label(key))
  -else 
    = render_attrs(entry, :role_wish, :first_name, :last_name, :birthday, :gender)

  = f.labeled_input_field :nickname
  = render 'contactable/address_fields', f: f
= render_extensions :address_fields, locals: { f: f }
= field_set_tag do
  = render 'email_field', f: f

= field_set_tag do
  = f.labeled_input_field :languages_spoken, placeholder: t('activerecord.attributes.person.languages_spoken_info')

= field_set_tag do
  = f.labeled_input_field :passport_nationality, placeholder: t('activerecord.attributes.person.passport_nationality_info')
  = f.labeled_input_field :passport_number, placeholder: t('activerecord.attributes.person.passport_number_info')
  = f.labeled_input_field :passport_germany
  = f.labeled_input_field :passport_valid, help_inline: t('activerecord.attributes.person.passport_valid_help')

= field_set_tag do 
  = f.labeled_input_field :shirt_size, placeholder: t('activerecord.attributes.person.shirt_size_info')
  = f.labeled_input_field :uniform_size, placeholder: t('activerecord.attributes.person.uniform_size_info')

= field_set_tag do
  = f.labeled_inline_fields_for :social_accounts, 'contactable/social_account_fields'

= field_set_tag do
  = f.labeled_input_field :can_swim

= field_set_tag do
  = f.labeled_input_field :motivation, placeholder: t('activerecord.attributes.person.motivation_info')
  = f.labeled_input_field :additional_information
  = render 'picture_fields', f: f


