-#  Copyright (c) 2012-2021, German Contingent for the Worldscoutjamboree 2023. This file is part of
-#  hitobito_wsjrdp_2023 and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_wsjrdp_2023.

%h4
  = t('activerecord.attributes.person.medicine_header') 
= t('activerecord.attributes.person.medicine_info')
%br/ 
%br/
= f.labeled_input_field :medicine_stiko_vaccination, help: (link_to t('activerecord.attributes.person.medicine_bmi_info'), t('activerecord.attributes.person.medicine_bmi_info_link'), target: '_blank')
= link_to t('activerecord.attributes.person.medicine_stiko_info'), t('activerecord.attributes.person.medicine_stiko_info_link'), target: '_blank'
= f.labeled_input_field :medicine_vaccination, placeholder: t('activerecord.attributes.person.medicine_vaccination_info')
= t('activerecord.attributes.person.medicine_vaccination_help')
%br/
%br/
= f.labeled_input_field :medicine_abnormalities, placeholder: t('activerecord.attributes.person.medicine_abnormalities_info')
= f.labeled_input_field :medicine_preexisting_conditions
= f.labeled_input_field :medicine_allergies, placeholder: t('activerecord.attributes.person.medicine_allergies_info')
= f.labeled_input_field :medicine_eating_disorders
= f.labeled_input_field :medicine_mobility_needs, placeholder: t('activerecord.attributes.person.medicine_mobility_needs_info')
= f.labeled_input_field :medicine_infectious_diseases
= f.labeled_input_field :medicine_medical_treatment_contact, placeholder: t('activerecord.attributes.person.medicine_medical_treatment_contact_info')
= t('activerecord.attributes.person.medicine_medical_treatment_contact_help')
%br/
%br/
= f.labeled_input_field :medicine_continous_medication, placeholder: t('activerecord.attributes.person.medicine_continous_medication_info')
= f.labeled_input_field :medicine_needs_medication, placeholder: t('activerecord.attributes.person.medicine_needs_medication_info')
= t('activerecord.attributes.person.medicine_medication_help')
%br/
%br/
= f.labeled_input_field :medicine_medications_self_treatment
= f.labeled_input_field :medicine_other, placeholder: t('activerecord.attributes.person.medicine_other_info')
-# = f.labeled_input_field :medicine_important
= f.labeled_input_field :medicine_support, placeholder: t('activerecord.attributes.person.medicine_support_info')
