-#  Copyright (c) 2012-2021, German Contingent for the Worldscoutjamboree 2023. This file is part of
-#  hitobito_wsjrdp_2023 and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_wsjrdp_2023.


-# BEWARE: This partial is used from different places (e.g. event/register/register).
-#         Make sure not to use relative partial paths here or in any extensions
-#         unless these partials also exist in all folders referencing this file here.

= f.error_messages
= render 'form_tabs'

.tab-content
  #general.tab-pane.active
    = render 'contactable/contact_fields', f: f   
  
  #additional_contact.tab-pane
    = render 'contactable/additional_contact_fields', f: f
  
  #association.tab-pane
    = field_set_tag do
      = render 'contactable/association_fields', f: f

  #finance.tab-pane
    = render 'contactable/finance_fields', f: f

  #medicine.tab-pane
    = render 'contactable/medicine_fields', f: f
  
  #last_order.tab-pane
    = render 'contactable/last_order_fields', f: f
  

