#main.row-fluid
  - if can?(:edit, @person)
    - if (@person.upload_registration_pdf.present? && @person.upload_passport_pdf.present? && @person.upload_sepa_pdf.present?)
      = t('activerecord.attributes.person.upload_info_ready')
    - else 
      = t('activerecord.attributes.person.upload_info')
    %br 
    = standard_form(@person, {url: upload_group_person_path,  method: :put}) do |f|
      = f.error_messages
      %br
      = f.labeled(:upload_passport_pdf, t('activerecord.attributes.person.upload_passport_pdf')) do
        = f.file_field(:upload_passport_pdf)
        = render 'person/upload/button_passport'
      %br
      = f.labeled(:upload_registration_pdf, t('activerecord.attributes.person.upload_registration_pdf')) do
        = f.file_field(:upload_registration_pdf)
        = render 'person/upload/button_registration'
      %br
      = f.labeled(:upload_sepa_pdf, t('activerecord.attributes.person.upload_sepa_pdf')) do
        = f.file_field(:upload_sepa_pdf)
        = render 'person/upload/button_sepa'
      -if(@person.role_wish == "Unit Leitung")
        %br
        = f.labeled(:upload_recommondation_pdf, t('activerecord.attributes.person.upload_recommondation_pdf')) do
          = f.file_field(:upload_recommondation_pdf)
          = render 'person/upload/button_recommondation'
        %br
        = f.labeled(:upload_data_processing_pdf, t('activerecord.attributes.person.upload_data_processing_pdf')) do
          = f.file_field(:upload_data_processing_pdf)
          = render 'person/upload/button_data_processing'
      -if(@person.role_wish != "Teilnehmende*r")
        %br
        = f.labeled(:upload_good_conduct_pdf, t('activerecord.attributes.person.upload_good_conduct_pdf')) do
          = f.file_field(:upload_good_conduct_pdf)
          = render 'person/upload/button_good_conduct'
      %br
      = form_buttons(f, submit_label: 'Dokumente hochladen', cancel_url: person_path(@person))


