#main.row-fluid
  = standard_form(@person, {url: upload_group_person_path,  method: :put}) do |f|
    = f.error_messages
    %br
    = f.labeled(:upload_passport_pdf, 'Reisepass hochladen ') do
      = f.file_field(:upload_passport_pdf)
    %br
    = f.labeled(:upload_registration_pdf, 'Anmeldung hochladen ') do
      = f.file_field(:upload_registration_pdf)
    -if(@person.role_wish == "Unit Leitung")
      %br
      = f.labeled(:upload_recommondation_pdf, 'Empfehlung hochladen ') do
        = f.file_field(:upload_recommondation_pdf)
    -if(@person.role_wish != "Teilnehmende*r")
      %br
      = f.labeled(:upload_good_conduct_pdf, 'Bestätigung Führungszeugnis hochladen ') do
        = f.file_field(:upload_good_conduct_pdf)
      = form_buttons(f, submit_label: 'Dokumente hochladen', cancel_url: person_path(@person))

