#main.row-fluid
  - if @printable and (@person.status == 'registriert')
    - if can?(:edit, @person)
      = action_button(t('activerecord.button.print_preview'),
                      '/groups/' + params[:group_id] + '/people/'+ params[:id] + '/print/preview',
                      :envelope,
                      remote: false,
                      method: :get,
                      rel: :tooltip,
                      title: t('activerecord.button.print_preview_hint'))
      %br
      = t('activerecord.attributes.person.preview_info') 
      %br
      %br

      = action_button(t('activerecord.button.print_submit'),
                      '/groups/' + params[:group_id] + '/people/'+ params[:id] + '/print/submit',
                      :envelope,
                      remote: false,
                      method: :get,
                      rel: :tooltip,
                      title: t('activerecord.button.print_submit_hint'))
      %br
      = t('activerecord.attributes.person.print_info') 
  - else 
    - if can?(:edit, @person)
      = action_button(t('activerecord.button.print_review'),
                      '/groups/' + params[:group_id] + '/people/'+ params[:id] + '/upload/show_registration',
                      :envelope,
                      remote: false,
                      method: :get,
                      rel: :tooltip,
                      title: t('activerecord.button.print_review_hint'))
        
    