#main.row-fluid
  - if @printable and (@person.status == 'registriert') and @registration_online
    - if can?(:edit, @person)
      = action_button(t('activerecord.button.print_preview'),
                      '/groups/' + params[:group_id] + '/people/'+ params[:id] + '/print/preview',
                      :envelope,
                      remote: false,
                      method: :get,
                      rel: :tooltip,
                      title: t('activerecord.button.print_preview_hint'))
      %br
      = t('activerecord.attributes.person.preview_info') 
      %br
      %br

      = action_button(t('activerecord.button.print_submit'),
                      '/groups/' + params[:group_id] + '/people/'+ params[:id] + '/print/submit',
                      :envelope,
                      remote: false,
                      method: :get,
                      rel: :tooltip,
                      title: t('activerecord.button.print_submit_hint'))
      %br
      = t('activerecord.attributes.person.print_info') 
  - else 
    - if can?(:edit, @person) 
      -if @person.status != 'registriert'
        = t('activerecord.attributes.person.printed_info')
        %br
        %br
        = standard_form(@person, {url: print_group_person_path,  method: :put}) do |f|
          = render 'person/print/button_registration', f: f
        
    