#main.row-fluid
  - if can?(:edit, @person)
    - if @manage
      -# = f.error_messages
      %h4
        = t('activerecord.attributes.person.check_document_info')
      = standard_form(@person, {url: check_group_person_path,  method: :put}) do |f|
        = render 'person/upload/button_passport', f: f  
        = render 'person/upload/button_registration', f: f  
        = render 'person/upload/button_sepa', f: f
        = render 'person/upload/button_recommondation', f: f 
        = render 'person/upload/button_good_conduct', f: f
        = render 'person/upload/button_data_processing', f: f
      
      - if 'in Überprüfung durch KT' == @person.status
        %h5 
          = t('activerecord.attributes.person.check_passport_info')
        = render_attrs(@person, :first_name, :last_name, :birthday, :gender)
        %h5
          = t('activerecord.attributes.person.check_registration_info')
        = render_attrs(@person, :first_name, :last_name)
        - if (@person.years.to_i < 18) 
          = render_attrs(@person, :additional_contact_name_a, :additional_contact_name_b, :additional_contact_single) 
        %h5
          = t('activerecord.attributes.person.check_sepa_info')
        = render_attrs(@person, :sepa_name)
        - if (@person.years.to_i > 18)
          %h5
            = t('activerecord.attributes.person.check_good_conduct_info')
        - if 'Unit Leitung' == @person.role_wish || 'Kontingentsteam' == @person.role_wish
          %h5
            = t('activerecord.attributes.person.check_data_processing_info')
        - if 'Unit Leitung' == @person.role_wish
          %h5
            = t('activerecord.attributes.person.check_good_recommondation_info')
      
      %br
      %h4
        = t('activerecord.attributes.person.check_next_status_info')
      = standard_form(@person, {url: check_group_person_path,  method: :put}) do |f|
        - if ['registriert','gedruckt'].include?(@person.status)
          = t('activerecord.attributes.person.check_next_state_participant_info')
        - if 'Upload vollständig' == @person.status
          = render 'person/check/button_cmt_review', f: f
        - if 'in Überprüfung durch KT' == @person.status
          = render 'person/check/button_cmt_documents', f: f   
        - if 'Dokumente vollständig überprüft' == @person.status
          = t('activerecord.attributes.person.check_next_state_unit_info')
      %h4
        = t('activerecord.attributes.person.check_contact_info')
      = standard_form(@person, {url: check_group_person_path,  method: :put}) do |f|
        = f.labeled_collection_select(:role_wish, Settings.person.roles, :to_s, :to_s, {}, class: 'span2') 
        = f.labeled_input_fields :first_name, :last_name
        = render_attrs(@person, :birthday)
        = f.labeled_input_field :birthday
        = f.labeled(:gender) do
          - (Person::GENDERS + ['']).each do |key|
            = f.inline_radio_button(:gender, key, @person.gender_label(key))
        = form_buttons(f, submit_label: 'Kontaktdaten Ändern ändern')
      %h4
        = t('activerecord.attributes.person.check_finance_info')
      = standard_form(@person, {url: check_group_person_path,  method: :put}) do |f|
        = f.labeled_input_fields :sepa_name,
                    :sepa_address,
                    :sepa_mail,
                    :sepa_iban,
                    :sepa_bic
        = form_buttons(f, submit_label: 'gesperrte Felder ändern')
      %h4
        = t('activerecord.attributes.person.check_status_info')
      = standard_form(@person, {url: check_group_person_path,  method: :put}) do |f|
        = f.labeled_collection_select(:status, Settings.person.status, :to_s, :to_s, {}, class: 'span2') 
        = form_buttons(f, submit_label: 'Status ändern')
